body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar{
    background-color: #6E3CBC;
    position: sticky;
    top: 0;
    z-index: 10;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main1{
    background: url(/img/mi22.jpg);
    background-position: center;
    background-size: cover;
}
.form1{
    border-radius: 30px;
}
.but button{
    height: 50px;
    width: 150px;
    background-color: #6E3CBC;
    border: 0px;
    border-radius: 20px;
    color: #f7f7f7;
    font-weight: bolder;
}
.r1{
    background-color: #d4d4d481;
    border: 2px #D9D9D9 solid;
    border-radius: 20px;
}
.c1{
    background-color: #f7f7f7;
    border-radius: 20px;
    border: #6E3CBC 2px solid;
    overflow: hidden;
}
.cb2{ background-color: #6E3CBC;}
.btn1{
    height: 50px;
    width: 100%;
    margin-top:20px ;
    border: 0px;
    border-radius: 20px;
    color: #6E3CBC;
    font-weight: bolder;

}
.inner{
    overflow: hidden;
    transition: all 1s;
}
.inner:hover{
    transform: scale(1.2);
    transition: all 1s;
}
